:root {
    --white-primary: #FFFFFF;
    --grey-secundary: #C0C0C0;
    --blue-btn: #167BF7;
    --bg-color: #00030C;   
    --font-primary: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--white-primary);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-box {
    margin: 0 3.5em;
}

.container-title {
    font-size: 24px;
    font-weight: 700;
}

.container-img {
    margin: 1em 0 2em 0;
    width: 70%;
}

.container-btn {
    background-color: var(--blue-btn);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-primary);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.secundary-btn {
    background-color: transparent;
    border: 2px solid var(--white-primary);
}

.container-notice {
    font-size: 12px;
    color: var(--grey-secundary);

}

.secundary {
    align-items: center;
    margin: 0 4em;
}

.secundary-img {
    width: 80%;
    margin-left: 4em;
}

.container-description {
    padding: 2em;
}

.description-title {
    font-weight: 700;
    font-size: 40px;
    color: var(--white-primary);
    margin-bottom: 0.1em;
}

.description-text {
    color: var(--grey-secundary);
    font-size: 14px;
}

.main-btn {
    display: inline-block;
    margin-top: 1em;
}

.dispositives {
    text-align: center;
}

.dispositives-title{
    font-size: 40px;
    margin-right: 1.3em;
    color: var(--white-primary);
}

.dispositives-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 5em 4em;
}

.list-item {
    font-size: 26px;
    color: var(--white-primary);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}