:root {
    --white-primary: #FFFFFF;
    --grey-secundary: #C0C0C0;
    --blue-btn: #167BF7;
    --bg-color: #00030C;   
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--white-primary);
}

.principal {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-btn {
    background-color: var(--blue-btn);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-primary);
    display: block;


}